.card_mobile {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.avatar_mobile {
    display: flex;
    align-items: center;
}

.content_mobile {
    display: flex;
}

.cart_line_mobile {
    display: flex;
    flex-direction: column;
}

.price_mobile {
    margin: 20px 5px 60px 5px;
    width: 50px;
    border-radius: 5px;
    background-color: lightgray;
}