.card {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.avatar {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
}

.cart-line {
    display: flex;
    flex-direction: row;
}

.price {
    margin-top: 6px;
    margin-right: 70px;
    padding-left: 5px;
    width: 50px;
    height: 26px;
    border-radius: 5px;
    background-color: lightgray;
}