.card {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 430px;
}

.avatar {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
}

.cart_line {
    display: flex;
    flex-direction: row;
}

.price {
    margin: 6px auto 0px 0px;
    width: auto;
    height: 26px;
    border-radius: 5px;
    background-color: lightgray;
}