.cart_container {
    align-items: center;
}

.cart_title {
    display: flex;
    flex-direction: row;
}

.cart_price {
    background-color: lightgray;
}

.cart_button {
    margin-top: 15px;
    text-align: right;
}